<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="../assets/about-us/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../assets/about-us/css/vanilla-zoom.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/jpg" href="../assets/img/favicon.png" />

    <title>About Us</title>
</head>

<body>
    <!--Navbar start-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand m-0 p-0" href="#"><img src="../assets/img/cycling-4-lyfe-logo.png" alt="cycling 4 lyfe logo" style="width:96px;height:60px;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="mainPage.html" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="orgsearch.html" class="nav-link active">Rides</a>
                    </li>
                    <li class="nav-item">
                        <a href="about-us.html" class="nav-link active">About Us</a>
                    </li>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">User's Name
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Account</a></li>
                            <li><a class="dropdown-item" href="#">Themes</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
            <div class="collapse navbar-collapse flex-grow-1 text-right">
                <ul class="navbar-nav ms-auto flex-nowrap">
                    <li class="nav item">
                        <a href="login.html" class="nav-link active">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a href="registration.html" class="nav-link active">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar end-->

    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading">
                <p class=" h1 text-primary text-center p-4 ">About Us</p>
                <p class=" h5 text-center p-4 mb-5">We are a team of full-stack web developers working on a way to make tracking your bike rides fun and easy</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card ratio-1x1"><img class="card-img-top w-100 d-block" src="../assets/about-us/img/jake.jpg" />
                        <div class="card-body info">
                            <h4 class="card-title">Jake Jenkins</h4>
                            <p class="card-text">Full-Stack Web Developer with DigitalCrafts</p>
                            <div class="icons"><a href="#"><i class="icon-social-github  p-2"></i></a><a href="#"><i class="icon-social-linkedin  p-2"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card ratio-1x1"><img class="card-img-top w-100 d-block" src="../assets/about-us/img/charles.jpg" />
                        <div class="card-body info">
                            <h4 class="card-title">Charles Eldridge</h4>
                            <p class="card-text">Full-Stack Web Developer with DigitalCrafts</p>
                            <div class="icons"><a href="#"><i class="icon-social-github  p-2"></i></a><a href="#"><i class="icon-social-linkedin  p-2"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card ratio-1x1"><img class="card-img-top w-100 d-block" src="../assets/about-us/img/al.jpg" />
                        <div class="card-body info">
                            <h4 class="card-title">Al Conlan</h4>
                            <p class="card-text">Full-Stack Web Developer with DigitalCrafts</p>
                            <div class="icons"><a href="#"><i class="icon-social-github  p-2"></i></a><a href="#"><i class="icon-social-linkedin  p-2"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>