#success_message{ display: none;}

#mainBody {
    background-color:#EAEAEA;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 45px;
    max-width: 600px;
    height: 275px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  /* .title-header {
    display: flex;
    justify-content: center;
    font-weight: 800;
  } */

  /* #mainPage .container-fluid {
    margin-top: 45px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  } */