<!DOCTYPE html>
<html lang="en">

<body onload="setStateOfUser()">
    ${head}
    ${navbar}
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading">
                <p class=" h1 text-primary text-center p-4 ">About Us</p>
                <p class=" h5 text-center p-4 mb-5">We are a team of full-stack web developers working on a way to make tracking your bike rides fun and easy</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card ratio-1x1"><img class="card-img-top w-100 d-block" src="./assets/img/jake.jpg" />
                        <div class="card-body info">
                            <h4 class="card-title">Jake Jenkins</h4>
                            <p class="card-text">Full-Stack Web Developer with DigitalCrafts</p>
                            <div class="icons"><a href="#"><i class="icon-social-github  p-2"></i></a><a href="#"><i class="icon-social-linkedin  p-2"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card ratio-1x1"><img class="card-img-top w-100 d-block" src="./assets/img/charles.jpg" />
                        <div class="card-body info">
                            <h4 class="card-title">Charles Eldridge</h4>
                            <p class="card-text">Full-Stack Web Developer with DigitalCrafts</p>
                            <div class="icons"><a href="#"><i class="icon-social-github  p-2"></i></a><a href="#"><i class="icon-social-linkedin  p-2"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card ratio-1x1"><img class="card-img-top w-100 d-block" src="./assets/img/al.jpg" />
                        <div class="card-body info">
                            <h4 class="card-title">Al Conlan</h4>
                            <p class="card-text">Full-Stack Web Developer with DigitalCrafts</p>
                            <div class="icons"><a href="#"><i class="icon-social-github  p-2"></i></a><a href="#"><i class="icon-social-linkedin  p-2"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>