<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <style>
        .data-grid {
            display: grid;
            text-align: center;
            margin: auto;
            background-color: white;
            row-gap: 20px;
            grid-template-columns: auto auto auto auto auto;
        }
    </style> -->
</head>


<body>
    ${head}
    ${navbar}
    <section class="text-dark p-4" id="mainPage">
        <h1 class="text-center text-primary pb-5 mb-5">Cycling 4 Lyfe</h1>
        <div class="container-fluid" id="mainBody">
            <div class="row">
                <div class="col-md-3 border border-secondary">
                    <div class="card text-center bg-light-gray border-0">
                        <img src="./assets/img/boy-on-bike.jpg" class="card-img-top pt-5 ps-5 pe-5" alt="Boy on bike" />
                        <div class="card-body">
                            <h5 class="card-title pb-2" id="userId">John Q</h5>
                            <p class="card-text">Age: 28</p>
                            <p class="card-text">Skill Level: Intermediate</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 border border-secondary">
                    <form action="/rides" method="POST">
                        <h3 class="pb-2" style="text-align: center;">Enter New Ride</h3>
                        <!-- <div class="form-group"> -->
                        <div class="row p-2">
                            <div class="col-md-4">
                                <label class="control-label" for="date">Date of Ride: </label>
                            </div>
                            <div class="col-md-8">
                                <input class="form-control" id="date_of_ride" name="date_of_ride" type="date" placeholder="yyyy-mm-dd" />
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-md-4">
                                <p>Distance:</p>
                            </div>
                            <div class="col-md-8">
                                <input type="number" name="distance" id="distance" class="form-control" step="0.1" required min="0" max="200" required>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-md-4">
                                <p>Location of Ride:</p>
                            </div>
                            <div class="col-md-8">
                                <input type="text" name="location_of_ride" id="location_of_ride" class="form-control" required>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-md-4">
                                <p>User ID:</p>
                            </div>
                            <div class="col-md-8">
                                <input type="text" name="user_name" id="user_name" class="form-control" required>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-md-4">
                                <p>Difficulty Level:</p>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group has-validation" id="difficulty_level">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="difficulty_level" name="difficulty_level" value="Easy">
                                        <label class="form-check-label" for="inlineCheckbox1">Easy</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="difficulty_level" name="difficulty_level" value="Intermediate">
                                        <label class="form-check-label" for="inlineCheckbox2">Moderate</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="difficulty_level" name="difficulty_level" value="Hard">
                                        <label class="form-check-label" for="inlineCheckbox3">Hard</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div style="text-align: center;">
                                <button class="btn btn-primary" id="ride-button" type="submit" onclick="">Submit</button>
                            </div>
                        </div>
                        <!-- </div> -->
                    </form>
                </div>

                <div class="col-md-3 border border-secondary" style="text-align: center;">
                    <h3>Your Data</h3>
                    <!-- <form action="/rides" method="GET"> -->
                    <form>
                        <div class="row p-3">
                            <button class="btn btn-primary" type="button" onclick="loadRideData()">Summary of Rides</button>
                        </div>
                    </form>
                    <!-- <form action="/rides/:distance" method="GET">
                        <div class="row p-3">
                            <button class="btn btn-primary" type="submit" onclick="loadTotalDistance()">Distance</button>
                        </div>
                    </form> -->
                    <!-- <form action="/rides/:user_name" method="GET"> -->
                    <form>
                        <div class="row p-3">
                            <label class="control-label" for="dateRide">Ride By Date</label>
                            <input class="form-control" id="dateRide" placeholder="Date of Ride" type="date">
                        <!-- </div>
                        <div class="row text-center p-3"> -->
                            <button class="btn btn-primary" type="button" onclick="dateFunction()">Submit</button>
                        </div>
                    </form>

                    <!-- Delete Ride  -->
                <!-- <form action=/deleteRide method="DELETE"> -->
                    <form>    
                        <div class="row p-3">
                            <label class="control-label">Delete A ride </label>
                            <!-- <input class="form-control" placeholder="user_name" id="rider" type="text"> -->
                            <input class="form-control" placeholder="location_of_ride" id="location" type="text">
                        <!-- </div>
                        <div class="row text-center p-3"> -->
                            <button class="btn btn-primary" type="button" onclick="deleteRide()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 border border-secondary pt-3 pb-3 ps-5 pe-5" style="text-align: center;">
                    <p class="m-2 h3">Helpful Links</p>
                    <div class="row">
                        <div class="col-md-6 p-3">
                            <img src="./assets/img/usa-cycling-logo.png" alt="">
                        </div>
                        <div class="col-md-6  p-3">
                            <a href="https://usacycling.org/" target="_blank">
                                <h6>USA Cycling</h6>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  p-3">
                            <img src="./assets/img/zwift-logo.png" alt="">
                        </div>
                        <div class="col-md-6  p-3">
                            <a href="https://www.zwift.com/" target="_blank">
                                <h6>Zwift</h6>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  p-3">
                            <img src="./assets/img/tmbra-logo.png" alt="">
                        </div>
                        <div class="col-md-6  p-3">
                            <a href="https://www.tmbra.org/" target="_blank">
                                <h6>TMBRA</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 border border-secondary">
                    <div class="row text-center">
                        <div class="col-md-2">User</div>
                        <div class="col-md-2">Date</div>
                        <div class="col-md-2">Distance</div>
                        <div class="col-md-2">Location</div>
                        <div class="col-md-2">Difficulty</div>
                    </div>

                    <div class="row text-center" id="displayDiv">
                        <div class="col-md-2" id="nameDiv"></div>
                        <div class="col-md-2" id="dateDiv"></div>
                        <div class="col-md-2" id="distanceDiv"></div>
                        <div class="col-md-2" id="locationDiv"></div>
                        <div class="col-md-2" id="difficultyDiv"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="./home.js"></script>
    <!-- <script>
        function dateFunction() {
            var x = document.getElementById("date_of_ride").value;
            var z = ('action="rides/"') + x
            document.getElementById("action").innerHTML = z;
        }
    </script> -->
</body>

</html>