<!DOCTYPE html>
<html lang="en">


<body>
    ${head}
    ${navbar}
    <section class="text-dark p-4" id="mainPage">
        <h1 class="text-center text-primary pb-5 mb-5">Cycling 4 Lyfe</h1>
        <div class="container-fluid" id="mainBody">
            <div class="row">
                <div class="col-md-3 border border-secondary">
                    <div class="card">
                        <img src="./assets/img/13207.jpeg" class="card-img-top" alt="No image" style="max-width: 50%;" />
                        <div class="card-body">
                            <h5 class="card-title" id="userId">JohnQ</h5>
                            <p class="card-text">Age</p>
                            <p class="card-text">Skill Level</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 border border-secondary">
                    <form action="/rides" method="POST">
                        <h3 class="pb-2" style="text-align: center;">Enter New Ride</h3>
                        <!-- <div class="form-group"> -->
                        <div class="row p-2">
                            <div class="col-md-3">
                                <label class="control-label" for="date">Date of Ride: </label>
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" id="date_of_ride" name="date_of_ride" type="date" placeholder="yyyy-mm-dd" />
                            </div>
                            <div class="col-md-3">
                                <p>Distance:</p>
                            </div>
                            <div class="col-md-3">
                                <input type="number" name="distance" id="distance" class="form-control" step="0.1" required min="0" max="200" required>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-md-3">
                                <p>Location of Ride:</p>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="location_of_ride" id="location_of_ride" class="form-control" required>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="user_name" id="user_name" class="form-control" required>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-md-3">
                                <p>Difficulty Level:</p>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group has-validation" id="difficulty_level">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="difficulty_level" name="difficulty_level" value="Easy">
                                        <label class="form-check-label" for="inlineCheckbox1">Easy</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="difficulty_level" name="difficulty_level" value="Intermediate">
                                        <label class="form-check-label" for="inlineCheckbox2">Moderate</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="difficulty_level" name="difficulty_level" value="Hard">
                                        <label class="form-check-label" for="inlineCheckbox3">Hard</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div style="text-align: center;">
                                <button class="btn btn-primary" id="ride-button" type="submit" onclick="">Submit</button>
                            </div>
                        </div>
                        <!-- </div> -->
                    </form>
                </div>

                <div class="col-md-3 border border-secondary" style="text-align: center;">
                    <h3>Your Data</h3>
                    <!-- <form action="/rides" method="GET"> --><form>
                        <div class="row p-3">
                            <button class="btn btn-primary" type="button" onclick="loadRideData()">Summary of Rides</button>
                        </div>
                    </form>
                    <form action="/rides/:distance" method="GET">
                        <div class="row p-3">
                            <button class="btn btn-primary" type="submit" onclick="">Distance</button>
                        </div>
                    </form>
                    <form action="/rides/2021-10-21" method="GET">
                        <div class="row p-1">
                            <div class="col-md-7">
                                <input class="form-control" id="date_of_ride" name="date_of_ride" placeholder="yyyy-mm-dd" type="text" />
                            </div>
                            <div class="col-md-5">
                                <button class="btn btn-primary" type="submit" onclick="dateFunction()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 border border-secondary">
                    <p>Place Holder</p>
                </div>
                <div class="col-md-9 border border-secondary">
                    <div id="displayDiv" class="data-grid"></div>
                </div>
            </div>
        </div>
    </section>
    <script src="./home.js"></script>
    <!-- <script>
        function dateFunction() {
            var x = document.getElementById("date_of_ride").value;
            var z = ('action="rides/"') + x
            document.getElementById("action").innerHTML = z;
        }
    </script> -->
</body>

</html>