<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../templates/style.css" />
    <link rel="shortcut icon" type="image/jpg" href="../assets/img/favicon.png" />

    <!-- datepicker test -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <!-- end test -->

    <title>Cycling 4 Lyfe</title>
    <script>
        $(document).ready(function () {
            var date_input = $('input[name="date"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            var options = {
                format: 'mm/dd/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            };
            date_input.datepicker(options);
        })
    </script>
</head>

<body>
    <!--Navbar start-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand m-0 p-0" href="#"><img src="../assets/img/favicon.png" alt="cycling 4 lyfe logo" style="width:96px;height:60px;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="home.html" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="orgsearch.html" class="nav-link active">Rides</a>
                    </li>
                    <li class="nav-item">
                        <a href="about-us.html" class="nav-link active">About Us</a>
                    </li>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">User's Name
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Account</a></li>
                            <li><a class="dropdown-item" href="#">Themes</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
            <div class="collapse navbar-collapse flex-grow-1 text-right">
                <ul class="navbar-nav ms-auto flex-nowrap">
                    <li class="nav item">
                        <a href="login.html" class="nav-link active">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a href="registration.html" class="nav-link active">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar end-->
    <section class="text-dark p-4" id="mainPage">
        <h1 class="text-center text-primary pb-5 mb-5">Cycling 4 Lyfe</h1>
        <div class="container-fluid" id="mainBody">
            <div class="row">
                <div class="col-md-3 border border-secondary">
                    <div class="card">
                        <img src="../assets/img/13207.jpeg" class="card-img-top" alt="No image" style="max-width: 50%;" />
                        <div class="card-body">
                            <h5 class="card-title">User Name</h5>
                            <p class="card-text">Age</p>
                            <p class="card-text">Skill Level</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 border border-secondary">
                    <form action="/rides" method="POST">
                        <!-- <div class="form-group"> -->
                        <div class="row p-2">
                            <div class="col-md-3">
                                <label class="control-label" for="date">Date of Ride: </label>
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" id="date_of_ride" name="date" placeholder="MM/DD/YYYY" type="text" />
                            </div>
                            <div class="col-md-3">
                                <p>Distance:</p>
                            </div>
                            <div class="col-md-3">
                                <input type="number" name="distance" id="distance" class="form-control" step="0.1" required min="0" max="200" required>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-md-3">
                                <p>Location of Ride:</p>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="rideLocation" id="location_of_ride" class="form-control" required>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-md-3">
                                <p>Difficulty Level:</p>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group has-validation" id="difficulty_level">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">Easy</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                        <label class="form-check-label" for="inlineCheckbox2">Moderate</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                        <label class="form-check-label" for="inlineCheckbox3">Hard</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div style="text-align: center;">
                                <button class="btn btn-primary" type="submit" onclick="">Submit</button>
                            </div>
                        </div>
                        <!-- </div> -->
                    </form>
                </div>

                <div class="col-md-3 border border-secondary" style="text-align: center;">
                    <h3>Your Data</h3>
                    <form action="/rides" method="GET">
                        <div class="row p-3">
                            <button class="btn btn-primary" type="submit">Summary of Rides</button>
                        </div>
                    </form>
                    <form action="" method="GET">
                        <div class="row p-3">
                            <button class="btn btn-primary" type="submit" onclick="">Distance This Month</button>
                        </div>
                    </form>
                    <form action="" method="GET">
                        <div class="row p-1">
                            <div class="col-md-7">
                                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text" />
                            </div>
                            <div class="col-md-5">
                                <button class="btn btn-primary" type="submit" onclick="">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 border border-secondary">
                    <p>Place Holder</p>
                </div>
                <div class="col-md-9 border border-secondary">

                    <p>data display</p>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
<script src="../index.js"></script>

</html>