<!DOCTYPE html>
<html lang="en">

<body>
  ${head}
  ${navbar}
  <div class="container p-3">
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-6">

        <form class="bg-light-gray" id="registration_form">

          <!-- Form Name -->
          <div class="pt-3 pb-1">
            <h2 class="title-header mb-4 text-center">Sign Up for Cycling 4 Lyfe</h2>
          </div>

          <!-- Username input-->
          <div class="form-group pb-2 ps-3 pe-3">
            <label class="control-label">Username</label>
            <div class="input-group">
              <span class="p-2 icon-border"><i class="fas fa-user"></i></span>
              <input name="user_name" placeholder="Username" class="form-control" type="text" id="user_name">
            </div>
          </div>
          <!-- First Name input-->

          <div class="form-group  pb-2 ps-3 pe-3">
            <label class="control-label">First Name</label>
            <div class="input-group">
              <span class="p-2 icon-border"><i class="fas fa-user"></i></span>
              <input name="first_name" placeholder="First Name" class="form-control" type="text" id="first_name">
            </div>
          </div>

          <!-- Last Name input-->
          <div class="form-group pb-2 ps-3 pe-3">
            <label class="control-label">Last Name</label>
            <div class="input-group">
              <span class="p-2 icon-border"><i class="fas fa-user"></i></span>
              <input name="last_name" placeholder="Last Name" class="form-control" type="text" id="last_name">
            </div>
          </div>

          <!-- Skill Level input-->
          <div class="form-group pb-2 ps-3 pe-3">
            <label class="control-label">Skill Level</label>
            <div class="selectContainer">
              <div class="input-group">
                <span class="p-2 icon-border"><i class="fas fa-list"></i></span>
                <select name="skill_level" class="form-control selectpicker" id="skill_level">
                  <option value="">Select your Skill Level</option>
                  <option>Expert</option>
                  <option>Intermediate</option>
                  <option>Beginner</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Password input-->
          <div class="form-group pb-2 ps-3 pe-3">
            <label class="control-label">Password</label>
            <div class="input-group">
              <span class="p-2 icon-border"><i class="fas fa-unlock"></i></span>
              <input name="password" placeholder="Password" class="form-control" type="password" id="password">
            </div>
          </div>

          <!-- Password Confirmation input-->
          <!-- <div class="form-group pb-2 ps-3 pe-3">
            <label class="control-label">Confirm Password</label>
            <div class="input-group">
              <span class="p-2 icon-border"><i class="fas fa-unlock"></i></span>
              <input name="confirm_password" placeholder="Confirm Password" class="form-control" type="password" id="passwordConfirm">
            </div>
          </div> -->

          <!-- Email input-->
          <div class="form-group pb-2 ps-3 pe-3">
            <label class="control-label">E-Mail</label>
            <div class="input-group">
              <span class="p-2 icon-border"><i class="fas fa-envelope"></i></span>
              <input name="email" placeholder="E-Mail Address" class="form-control" type="text" id="email">
            </div>
          </div>

          <!-- Success message
          <div class="alert alert-success" role="alert" id="success_message">Success <i class="fas fa-thumbs-up"></i> Success!.</div> -->

          <!-- Button -->
          <div class="form-group pb-3">
            <label class="control-label"></label>
            <div class="text-center"><br>
              <button type="submit" class="btn btn-primary" id="register-button" onclick="registerUser()"> SUBMIT <span><i class="far fa-paper-plane"></i></span></button>
            </div>
          </div>
        </form>

      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
  <script src="./userloginregister.js"></script>
</body>

</html>