#success_message{ display: none;}

#mainBody {
    background-color:#EAEAEA;
  }

  #login .container #login-row #login-column #login-box {
    margin-top: 45px;
    max-width: 600px;
    height: 275px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }

  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }

  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  /* .title-header {
    display: flex;
    justify-content: center;
    font-weight: 800;
  } */

  /* #mainPage .container-fluid {
    margin-top: 45px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  } */

.bg-light-gray {
      background-color: #EAEAEA !important;
}

.icon-border {
  border-color: lightgray;
  border-width: 1px;
  border-style: solid;
  border-radius: 10%;
  background-color: lightgray;
}

.show-border {
  border-radius: 1px;
  border-style: solid;
  border-color: red;
}

.btn-group button {
  background-color: #04AA6D; 
  border: 1px solid green;
  color: white; 
  padding: 10px 24px;
  cursor: pointer; 
  float: left; 
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}